.stampWrapper {
  width: 22rem;
}

.stamp {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--pricing-item-bg);
  border-radius: 0.125rem;
  margin: 0.25rem;
  overflow: hidden;
}

.stampContent {
  margin-top: -1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.25rem;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.badgeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  animation: spin 30s linear infinite;
}

.badgeTitle {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: 600;
  color: var(--pricing-item-badge-title);
  animation: counterSpin 30s linear infinite;
}

.benefit {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pricing-item-icon);
}

.icon svg {
  width: 1.75rem;
  height: 1.75rem;
}

.title {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-s);
  color: var(--pricing-item-text);
}
