.stampWrapper {
  width: 22rem;
}

.stamp {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--polaroid-background);
  border-radius: 0.125rem;
  margin: 0.25rem;
  overflow: hidden;
}

.stampContent {
  margin-top: -1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.25rem;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.badgeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  animation: spin 30s linear infinite;
}

.badgeTitle {
  font-family: "Satisfy";
  font-size: var(--font-size-m);
  font-weight: 600;
  color: var(--highlight-tertiary);
  animation: counterSpin 30s linear infinite;
}

.benefit {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-tertiary);
}

.icon svg {
  width: 1.75rem;
  height: 1.75rem;
}

.title {
  font-family: "Barlow Condensed";
  font-size: var(--font-size-s);
  color: var(--title-secondary);
}
