.container {
  display: inline-grid;
  place-items: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  inset: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinClass {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
