.handDrawnUnderline {
  position: relative;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  font-family: var(--font-family-primary);
  font-weight: normal;
  cursor: pointer;
  pointer-events: fill;
  animation: float 2.5s ease-in-out infinite;
}

.handDrawnUnderlineSvg {
  color: var(--underline-stroke);
  position: absolute;
  left: 0;
}

.handDrawnUnderline .handDrawnUnderlineSvg use {
  stroke: var(--underline-stroke, currentColor);
  transition: stroke 0.3s ease;
}

.handDrawnUnderline:hover .handDrawnUnderlineSvg use {
  stroke: var(--underline-stroke-hover);
}

.handDrawnUnderlineText {
  text-align: center;
  color: var(--underline-text-color);
}

.handDrawnUnderline:hover .handDrawnUnderlineText {
  color: var(--underline-text-color-hover);
  transition: color 0.3s ease;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.625rem);
  }
  100% {
    transform: translateY(0);
  }
}
