.rundownTexture {
  --image-url: url(/assets/images/rundown-texture.png);
  background-image: var(--image-url);
  background-size: cover;
}

.floralMaskBg {
  position: relative;
  background-color: var(--gallery-floral-png-bg);
}

.floralMaskBg::before {
  --floral-bg: url("/assets/images/floral-pattern.webp");
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--gallery-floral-png-mask);
  -webkit-mask-image: var(--floral-bg);
  mask-image: var(--floral-bg);
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-size: 14.5rem 7rem;
  mask-size: 14.5rem 7rem;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  pointer-events: none;
}
