.polaroidContainer {
  position: relative;
  background-color: var(--polaroid-background);
  padding: 0.625rem 0.625rem 1.75rem 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.08),
    0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  height: 10rem;
  width: 9.5rem;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background: var(--polaroid-image-background);
}

.image {
  background-color: var(--polaroid-image-background);
  width: 100%;
  height: 100%;
}

.tape {
  position: absolute;
  transform: rotate(-43deg);
  width: 30%;
  height: 10%;
}

.leftCornerTape {
  top: 5%;
  left: -10%;
}

.rightCornerTape {
  bottom: 5%;
  right: -10%;
}

.topTape {
  left: 35%;
  top: -3%;
  transform: rotate(2deg);
}
