.polaroidContainer {
  position: relative;
  background-color: var(--polaroid-bg);
  padding: 0.625rem 0.625rem 1.75rem 0.625rem;
  box-shadow: var(--polaroid-shadow);
  border-radius: 0.125rem;
  height: 10rem;
  width: 9.5rem;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background: var(--polaroid-image-bg);
}

.image {
  width: 100%;
  height: 100%;
}

.tape {
  position: absolute;
  transform: rotate(-43deg);
  width: 30%;
  height: 10%;
  z-index: var(--z-index-1);
}

.leftCornerTape {
  top: 5%;
  left: -10%;
}

.rightCornerTape {
  bottom: 5%;
  right: -10%;
}

.topTape {
  left: 35%;
  top: -3%;
  transform: rotate(2deg);
}
