.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  gap: 15%;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxl);
  font-weight: 100;
}

.textContainer p {
  font-family: var(--font-family-tertiary);
  font-size: var(--font-size-s);
  text-align: justify;
  line-height: 2rem;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.polaroid {
  padding: 0.625rem;
  transform: rotate(2.5deg);
}
