.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  gap: 15%;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.titleContainer p {
  font-family: "Satisfy", cursive;
  font-size: 5rem;
  color: var(--title-primary);
  text-shadow: 0.2rem 0.2rem 0 white;
}

.textContainer p {
  font-family: "Slabo27", sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  line-height: 2rem;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.polaroid {
  padding: 10px;
  transform: rotate(2.5deg);
}
