.paperSectionContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: -0.625rem 0;
  z-index: var(--z-index-2);
}

.paperSectionContent {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
}

.paperSvg {
  width: 100%;
  display: block;
  line-height: 0;
}

.topSvg {
  rotate: 180deg;
}
