.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-4);
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.625rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--modal-cancel-button);
  border: none;
  cursor: pointer;
  transition: 0.2s ease, transform 0.2s ease;
  z-index: var(--z-index-5);
}

.closeButton:hover {
  transform: scale(1.2);
  color: var(--modal-cancel-button-hover);
}
