.wrapper {
  position: relative;
  width: 100%;
  height: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: "Satisfy";
  font-size: 2.5rem;
  color: var(--title-primary);
  line-height: 3rem;
  text-align: center;
  padding: 0.625rem;
  position: relative;
  z-index: 1;
}
