.wrapper {
  position: relative;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  color: var(--title-primary);
  line-height: 3rem;
  text-align: center;
  padding: 0.625rem;
  position: relative;
  z-index: var(--z-index-1);
}
