.titleRibbonContainer {
  --edge-w: 10%;
  --main-h: 85%;
  --shadow-h: 15%;

  --edge: color-mix(in srgb, var(--ribbon-bg) 85%, black);
  --shadow: color-mix(in srgb, var(--ribbon-bg) 60%, black);

  display: flex;
  justify-content: center;
}

.edge {
  max-width: 1.75rem;
  width: var(--edge-w);
  height: var(--main-h);
  background: var(--edge);
  clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%);
  transform: rotate(0deg);
  padding-left: 0.25rem;
  margin-left: -0.25rem;

  padding-right: 0.25rem;
  margin-right: -0.25rem;
}

.edge.leftEdge {
  transform: rotate(180deg);
}

.centerPiece {
  width: calc(100% - 2 * var(--edge-w));
  display: flex;
  flex-direction: column;
  z-index: var(--z-index-1);
}

.centerBanner {
  height: var(--main-h);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ribbon-bg);
}

.shadowContainer {
  height: var(--shadow-h);
  display: flex;
  justify-content: space-between;
}

.shadow.leftShadow {
  --dir: to bottom right;
}
.shadow.rightShadow {
  --dir: to bottom left;
}

.shadow {
  width: var(--edge-w);
  background: linear-gradient(
    var(--dir),
    var(--edge) 0% 50%,
    var(--shadow) 50% 100%
  );
}
