.pricingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 3.125rem;
  padding: 0 2.5%;
}

.title {
  font-family: "Satisfy";
  font-size: 4rem;
  font-weight: 100;
}

.pricingItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.additionalsWrapper {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

.additionalsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.1875rem solid var(--highlight-tertiary);
  background-color: var(--polaroid-background);
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.4);
}

.additionalsTitle {
  max-width: 35%;
  min-height: 17rem;
}

.additionalsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2.5rem 0 1.25rem;
  gap: 2.1875rem;
}

.additionalsImages {
  width: 100%;
  display: flex;
  flex-direction: row;
}
