.pricingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 5rem;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxl);
  font-weight: 100;
}

.pricingItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.additionalsWrapper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

.additionalsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.1875rem solid var(--pricing-additionals-container-border);
  background-color: var(--pricing-additionals-container-bg);
  border-radius: 0.125rem;
  overflow: hidden;
  box-shadow: var(--pricing-additionals-container-shadow);
}

.additionalsTitle {
  max-width: 35%;
  min-height: 17rem;
}

.additionalsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2.5rem 0 1.25rem;
  gap: 2rem;
}

.additionalsImages {
  width: 100%;
  display: flex;
  flex-direction: row;
}
