.pricingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0rem;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxl);
  font-weight: 100;
}

.pricingItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.additionalsWrapper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

.additionalsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.1875rem solid var(--pricing-additionals-container-border);
  background-color: var(--pricing-additionals-container-bg);
  border-radius: 0.125rem;
  overflow: hidden;
  box-shadow: var(--pricing-additionals-container-shadow);
}

.additionalsTitle {
  max-width: 35%;
  min-height: 17rem;
}

.additionalsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2.5rem 0 1.25rem;
  gap: 2rem;
}

.additionalsImages {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pricingItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  width: calc(100% - var(--needed-space));
}

.flipCardContainer {
  transform: rotate(var(--rotation));
  transition: 0.5s;
}

.flipCardContainer:hover {
  top: 100px;
  transform: translateY(0) translateX(0) rotate(0deg);
  z-index: var(--z-index-1);
}

.footnotes {
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem 1rem 1rem;
  gap: 0.25rem;
}

.footnote {
  font-style: italic;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  color: var(--text-heading-primary);
}
