.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-image: url(/assets/images/contacts-bg.png);
  background-size: cover;
}
