.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  background-image: url(/assets/images/contacts-bg.png);
  background-size: cover;
  gap: 25px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contactItem {
  position: relative;
  width: 7%;
  height: 7%;
  transition: transform 0.3s ease;
}

.contactItem::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--contacts-badge-fill);
  opacity: 0;
  filter: blur(5px);
  transform: scale(0.5);
  border-radius: 10000px;
  z-index: -1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.contactItem:hover {
  transform: scale(1.15);
}

.contactItem:hover::after {
  opacity: 0.6;
  transform: scale(0.9);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.bigTitle {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: var(--hero-title);
  z-index: var(--z-index-1);
}
