.galleryContainer {
  padding: 120px;
  z-index: var(--z-index-0);
}

.polaroidContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 70px 40px;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.galleryItem {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  width: 170px;
  height: 170px;
}

.galleryItem:hover {
  transform: rotate(-2deg) scale(1.1);
}

.polaroidComponent {
  padding: 10px;
}
