.galleryContainer {
  padding: 6rem 6rem 8rem 6rem;
  z-index: var(--z-index-0);
}

.polaroidContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  gap: 5rem 5rem;
  width: 100%;
}

.galleryItem {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  width: 10.5rem;
  height: 10.5rem;
}

.galleryItem:hover {
  transform: rotate(-2deg) scale(1.1);
}

.polaroidComponent {
  padding: 0.625rem;
  width: 11rem;
  height: 11rem;
}
