.heroContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.heroContainer::after {
  content: "";
  background-image:
    repeating-conic-gradient(
      var(--hero-grain) 0%,
      transparent 0.00003%,
      transparent 0.0005%,
      transparent 0.00095%
    ),
    repeating-conic-gradient(
      var(--hero-grain) 0%,
      transparent 0.00005%,
      transparent 0.00015%,
      transparent 0.0009%
    );
  height: 1200%;
  width: 2100%;
  opacity: 0.15;
  position: absolute;
  animation: grain 1s steps(1) infinite;
  filter: drop-shadow(0 0 0.0625rem var(--hero-grain-filter));
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}

.bgImage {
  --hero-bg-image-size: calc(max(100vw, 100vh) * 1.42);
  width: var(--hero-bg-image-size);
  height: var(--hero-bg-image-size);
  animation: spin 60s infinite linear;
  background-color: var(--hero-bg);
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.handDrawnUnderlineContainer {
  position: absolute;
  z-index: var(--z-index-1);
}

.centerPiece {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: -6.25rem;
}

.bigTitle {
  font-size: 10vmin;
  text-align: center;
  width: 60%;
  color: var(--hero-title);
  margin-bottom: -6.25rem;
  z-index: var(--z-index-1);
}

.ribbonTitle {
  margin-top: -6.25rem;
  width: 30%;
  height: 7%;
  color: var(--hero-ribbon-text);
  text-shadow: 0.05rem 0.05rem 0 var(--hero-ribbon-text-shadow);
  font-family: var(--font-family-primary);
  font-size: 5vmin;
}

.centerImage {
  transform: scale(-1, 1);
  height: 65%;
  width: 65%;
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
}

.leftPolaroid {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.rightPolaroid {
  position: absolute;
  top: 10%;
  right: 5%;
}

@media (max-width: 767px) {
  .centerPiece {
    margin-top: 0;
  }

  .bigTitle {
    font-size: 2.25rem;
    width: 90%;
    margin-bottom: -10rem;
  }

  .centerImage {
    height: 90%;
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
  }

  .badge {
    margin-bottom: -2rem;
  }

  .ribbonTitle {
    margin-top: -8rem;
    width: 80%;
    height: 6%;
    font-size: 1.5rem;
  }
}
